*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
    content: '';
  position: absolute;
}

body{
	background: lightblue;
	background-image: linear-gradient( 135deg, lightblue 10%, lightblue 100%);
	background-attachment: fixed;
	background-size: cover;

}

img{
  width: 50%;
 margin-left: 5%  ;
}
.error{
	width: 100%;
	height: auto;
	margin: 50px auto;
	text-align: center;
	margin-bottom: 0;
}

.balon{
	width: 230px;
	height: 300px;
	display: inline-block;
	margin: auto;
}

.error .p {
	height: 100%;
	color:black; 
	font-size: 280px;
	margin: 50px;
	display: inline-block;
	font-family: 'Anton', sans-serif; 
	font-family: 'Combo', cursive;
}




.con {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 9% auto 0;
  animation: moverbola 0.7s ease-in-out infinite alternate;
}

@keyframes moverbola {
    0%{
    transform: translateX(0) translateY(0);
  }
  
  50%{
    transform: translateX(500px) translateY(500px);
  }
  
  100%{
    transform: translateX(0) translateY(0);
  }
}


.con > * {
  position: absolute;
  top: 0; left: 0;
}

.ms {transform: translateY(-50px);}

.error p.mensaje {
	text-align: center;
	color: black; 
	font-size: 30px;
	font-family: 'Combo', cursive;
	margin-bottom: 20px;
}

button.volver {
		font-size: 30px;
    font-family: 'Combo', cursive;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s linear;
    z-index: 9;
    border-radius: 10px;
    background: #C0D7DD;
    color: #33265C;     
    box-shadow: 0 0 10px 0 #C0D7DD;
	margin-top: 20px;
}
button:hover {box-shadow: 0 0 20px 0 #C0D7DD;}

.porteria{
  width: 20%;


}
.a{
  display: flex;
  justify-content: flex-end;
}